<div class="static">Hello World</div><br>
<div class="absolute">Hello Wolrd</div><br>
<div class="fixed">Hello World</div><br>
<div class="relative">Hello World</div><br>
<div class="fl">Hello World</div><br>
<div class="fr">Hello World</div><br>