$green: #a7bb38;
$blue: #318eb1;
$teal: #20a5ac;
$yellow: #eeb405;
$orange: #ee9105;
$red: #dd314d;
$black: #333;
$white: white;

$border-color: $black;
$btn-inactive-bg: #f5f5f5;
$btn-inactive-text: #888;
$btn-inactive-bc: darken($btn-inactive-bg, 10%);

$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;