$item-gray: darken($btn-inactive-bc, 30%);
$item-padding: .5em 1em;
$item-mr: 1em; // margin right

.ssg-pattern-name,
.ssg-pattern-label{
	display: inline-block;

	margin-top: .75em;
	margin-right: $item-mr;
}

%ssg-typo{
    h1{

    }
}

.ssg-item{
	margin: 5em 0;
	font-family: $font-primary;
	&-header{
	}
	&-title{
		font-size: .8em;
		font-weight: bold;

		padding: $item-padding;

		text-transform: uppercase;

		border-bottom: 1px $item-gray solid;
	}
	&-description{
		font-size: .8em;

		padding: $item-mr;

		background-color: $btn-inactive-bg;
	}
}