$item-gray: darken($btn-inactive-bc, 30%);
$item-padding: .5em 1em;
$item-mr: 1em; // margin right
.ssg-pattern-name,
.ssg-pattern-label{
	display: inline-block;

	margin-top: .75em;
	margin-right: $item-mr;
}

%ssg-typo{
	h1{
	}
}

.ssg-item{
	font-family: $font-primary;

	display: block; // single item

	margin: 5em 0;
	&-header{
	}
	&-title{
		font-size: .8em;
		font-weight: bold;

		padding: $item-padding;

		text-transform: uppercase;

		border-bottom: 1px $item-gray solid;
	}
	&-description{
		font-size: .8em;

		display: none;

		padding: $item-mr;

		background-color: $btn-inactive-bg;
		&.show{
			display: block;
		}
		@media screen and (min-width: 1024px){
			column-count: 2;
			column-gap: 2vw;
			h1{
				font-size: 2rem;
				margin-top: 0;
			}
			h2{
				font-size: 1.5rem;
			}
			h3{
				font-size: 1.25rem;
			}
			h4{
				font-size: 1rem;
			}
			p, li{
				line-height: 125%;
				font-size: 1rem;
			}
		}
	}
	.sample{
		position: static;

		margin: $item-mr;
	}
	&-code{
		font-size: .9em;

		display: none;

		margin: $item-mr;
		&.show{
			display: block;
		}
	} // States
	&.hide{
		display: none;
	}
	&.show{
		display: block;
	}
}

.ssg-item-single{
	@extend .ssg-item;

	position: fixed;
	width: inherit;
	margin-top: 0;
	&-header{
	}
}